* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(199, 228, 253);
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: darkgoldenrod;
}

.container {
  display: block;
  margin: 20px;
  padding: 20px;
  border: 2px solid lightcoral;
  background-color: blanchedalmond;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

img {
  width: 410px;
  height: auto;
  margin: 20px;
}

h4 {
  font-size: 20px;
  color: rgb(157, 152, 17);
}

a {
  text-decoration: none;
  display: block;
}

p,
ul,
ol,
a {
  margin: 5px 10px;
}

ul {
  list-style: none;
}

.link-to-page,
.border {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

.description {
  width: 420px;
  height: auto;
}

.ingredients {
  width: 360px;
  height: auto;
}

.step {
  width: 460px;
  height: auto;
  padding-left: 50px;
}
